# This file is an example for your .env

# API Key / Clé API - minecraft-heads.com (gratuite sur / free on https://minecraft-heads.com/api)
MINECRAFT_HEADS_API_KEY=your_key

# (Optionnal) Path to your Minecraft world folder (Optionnel) Chemin vers le dossier du monde Minecraft
# HEADAPI_WORLD_PATH=path/to/.minecraft/saves/world
